/* Estilo adicional para o h1 quando hover (passar o mouse por cima) */
#titulo-principal:hover {
    color: #ff5733; /* Muda a cor do texto ao passar o mouse */
}

body {
    background-color: #f2f2f2; /* Cor de fundo do corpo */
    font-family: Arial, sans-serif; /* Fonte padrão */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove padding padrão */
}

#titulo-principal {
    font-size: 48px; /* Tamanho da fonte */
    color: #333; /* Cor do texto */
    margin: 50px 0 20px; /* Margem superior e inferior de 50px, margem inferior de 20px */
    text-align: center; /* Alinhamento centralizado */
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
    letter-spacing: 2px; /* Espaçamento entre letras */
}

#counter-title {
    text-align: center;
}

#counter-button {
    background-color: #333; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto */
    border: none; /* Remove a borda do botão */
    padding: 10px 20px; /* Preenchimento interno do botão */
    font-size: 16px; /* Tamanho da fonte */
    border-radius: 5px; /* Borda arredondada */
    display: block; /* Torna o botão um bloco */
    margin: 0 auto; /* Centraliza o botão horizontalmente */
    cursor: pointer; /* Altera o cursor ao passar o mouse */
}

#counter-button:hover {
    background-color: #555; /* Altera a cor de fundo ao passar o mouse */
}

.secondery-button {
    background-color: #333; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto */
    border: none; /* Remove a borda do botão */
    padding: 10px 20px; /* Preenchimento interno do botão */
    font-size: 16px; /* Tamanho da fonte */
    border-radius: 5px; /* Borda arredondada */
    display: block; /* Torna o botão um bloco */
    margin: 0 auto; /* Centraliza o botão horizontalmente */
    cursor: pointer; /* Altera o cursor ao passar o mouse */
    background-color: #333; /* Cor de fundo do botão principal */
    color: #fff; /* Cor do texto */
    border: none; /* Remove a borda */
    padding: 10px 20px; /* Preenchimento interno */
    font-size: 16px; /* Tamanho da fonte */
    border-radius: 5px; /* Borda arredondada */
    margin-right: 10px; /* Margem direita */
    cursor: pointer; /* Altera o cursor ao passar o mouse */
    background-color: transparent; /* Cor de fundo transparente */
    color: #333; /* Cor do texto */
    border: 2px solid #333; /* Borda sólida */

}